.container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: space-between;
  margin-top: 2%;
}

.sidelist {
  width: 28%;

  /*style*/
  border-radius: 30px;
  background: linear-gradient(237deg, #eee -13.54%, #11468f 120.58%);

  box-shadow: 4px 6px 20px 5px rgba(0, 0, 0, 0.32);
}
.main-chatbox {
  background-color: black;
  width: 70%;
  display: flex;
  flex-direction: column;

  /*style*/
  border-radius: 30px;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 0.97) -82.09%,
    rgba(17, 70, 143, 0.76) 94.75%
  );
  box-shadow: 4px 6px 20px 5px rgba(0, 0, 0, 0.35);
}

.msgbox {
  /*style*/
  border-radius: 21px;
  background: linear-gradient(
    90deg,
    #11348f -40.82%,
    rgba(17, 52, 143, 0) 155.29%
  );
}

.sendbtn {
  border-radius: 21px;
  background: linear-gradient(
    233deg,
    #11348f -2.06%,
    rgba(17, 52, 143, 0) 100%
  );
}

.user-sender-container{
    margin: 5px;
    padding: 5px;
    border-radius: 26px;
    background: linear-gradient(180deg, #11468F 0%, #AAA 100%);


}

.user-sender {
  color: #ffff;
}

.send-container {
  justify-self: flex-end;
}
