.navbar-container {
  border-bottom: 1px solid #ccc;
  height: auto;
  background-color: black;
  }

  .navbar-main {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }

  .brand  {
    color: #ccc;
  }

  .user  {
    color: #ccc;
  }

  .logout:hover{
    cursor: pointer;
    border-radius: 5px;
    background-color: #555;
  }

  .logout  {
    padding: 5px;
    color: #ccc;
  }
