.navbar-container {
  background-color: black;
}

#main-navbar {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 18px;
  font-weight: bold;
  color: #ccc;
}

.nav {
  display: flex;
  list-style: none;
  color: #ccc;
}

.nav-link {
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
  color: #ccc;
}

.nav-link:hover {
  background-color: #555;
}
