.navbar-container {
    background-color: black;
  }
  
  .navbar {
    border: 1px solid #ccc;
  }
  
  .brand {
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav {
    list-style: none;
  }
  
  .nav-link {
    cursor: pointer;
    border-radius: 5px;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  